<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="icon" href="/images/download.png" type="image/png">
    <link rel="stylesheet" href="/forgot_password.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="forgot-password-card">
                <h1>Forgot Password</h1>
                <div id="instructions">
                    <p>We will send you an email if email has registered.</p>
                </div>
                <form id="forgot-password-form">
                    <label for="email">Registered Email</label>
                    <input type="email" name="email" id="email" autocomplete="off" placeholder="your registered email id">
                    <button type="submit" class="button-29">Change Password</button>
                </form>
            </div>
        </main>
        <script>
            const form = document.getElementById("forgot-password-form");

            // getting credentials
            form.addEventListener("submit", async (event) => {
                event.preventDefault();

                const formData = new FormData(form);
                const email = formData.get("email");
                const credentials = JSON.stringify({ email });

                // fetching API
                const response = await fetch("/forgot-password", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: credentials
                });
                const data = await response.json();

                if (response.ok) {
                    alert("Email submitted\nWe will send you an email if email has registered.");
                    window.location.href = data.redirectTo;
                } else {
                    // Remove existing alerts
                    document.querySelectorAll(".alert").forEach(el => el.remove());

                    const submit_btn = document.querySelector('button[type="submit"]');
                    //! Creating alert message
                    const errorContainer = document.createElement("p");
                    errorContainer.className = "alert";

                    const errorStatus = response.statusText;
                    const errorMessage = data.error;

                    if (response.status === 409) {
                        errorContainer.innerHTML = `${errorMessage}`;
                        // Append the alert above the login button
                        submit_btn.before(errorContainer);
                    } else
                        alert(errorStatus);
                }
            })
        </script>
</body>

</html>