<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set password</title>
    <link rel="icon" href="/Images/download.png" type="image/png">
    <link rel="stylesheet" href="/reset_password.css">
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div id="change-password-card">
            <h1>Set Password</h1>
            <div id="instructions">
                <p><strong>Password must</strong></p>
                <ul>
                    <li>Be at least 8 characters long.</li>
                    <li>Contain a number.</li>
                    <li>Includes uppercase and lowercase letters.</li>
                </ul>
            </div>
            <form id="password-form">
                <label for="new-password">New Password</label>
                <input type="password" name="newPassword" id="new-password" autocomplete="off"
                    placeholder="new password">
                <label for="confirm-new-password">Confirm New Password</label>
                <input type="password" name="confirmNewPassword" id="confirm-new-password" autocomplete="off"
                    placeholder="confirm new password">
                <button type="submit" class="button-29">Set Password</button>
            </form>
        </div>
    </main>
    <script>
    const form = document.getElementById("password-form");

    // getting credentials
    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const newPassword = formData.get("newPassword");
        const confirmNewPassword = formData.get("confirmNewPassword");
        const credentials = JSON.stringify({ newPassword, confirmNewPassword });

        // fetching API
        const pathSegments = window.location.pathname.split('/');
        const token = pathSegments[pathSegments.length - 1];
        const response = await fetch(`/set-password`, {
            method : "POST",
            headers : {"Content-Type" : "application/json"},
            body : credentials
        });
        const data = await response.json();

        if (response.ok) {
            alert("Password reset successfull")
            window.location.href = data.redirectTo;
        } else {
            // Remove existing alerts
            document.querySelectorAll(".alert").forEach(el => el.remove());

            const submit_btn = document.querySelector('button[type="submit"]');
            //! Creating alert message
            const errorContainer = document.createElement("p");
            errorContainer.className = "alert";

            const errorStatus = response.statusText;
            const errorMessage = data.error;

            if (response.status === 409) {
                errorContainer.innerHTML = `${errorMessage}`;
                // Append the alert above the login button
                submit_btn.before(errorContainer);
            } else
                alert(errorStatus);
        }
    })
    </script>
</body>

</html>