<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="icon" href="/Images/download.png" type="image/png">
    <link rel="stylesheet" href="/token_exp_invalid.css">
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div id="forgot-password-card">
            <h1>Forgot Password</h1>
            <div class="alert">
                <p>Looks like the reset password link has expired, or invalid.</p>
            </div>
        </div>
    </main>
</body>

</html>