<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="./header.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/dev">Developers</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (username) { %>
                <li><a href="/logout">Logout</a> </li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registration</a></li>
            <% } %>
        </ul>
    </nav>
</body>

</html>