/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  padding: 1rem 2rem;
  position: sticky;
  top: 0px;
  z-index: 4;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ffcc00;
}

/* Responsive for small screens */
@media (max-width: 768px) {
  .navbar-links {
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    justify-content: space-between;
    gap: 1rem;
  }

  .navbar {
    padding: 1rem;
  }
}
