@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
}

* {
    margin: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

main {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f9fafb;
}

/*! Change Password Card*/
#change-password-card {
    width: 70%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
    gap: 0.5rem;
    transform: scale(0.85);
}

#ins-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

#password-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    & label {
        margin-bottom: 0.3rem;
        font-weight: 700;
        font-size: 1.1rem;
    }
    & input {
        border: 1px solid;
        outline: none;
        padding: 6px 10px;
        font-size: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;;
    }

    & input::placeholder {
        color: gray;
        transition: color 0.2s ease;
        font-style: italic;
    }

    & input:focus::placeholder {
        color: transparent; /* Hide it on focus */
    }
}

/* CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        #5adaff 0,
        #5468ff 100%
    );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono", monospace; */
    height: 44px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

#instructions {
    font-size: 1.3rem;
    background-color: #affdd5;
    padding: 0.25rem 1.5rem;
    border-left: 0.2rem solid rgb(0, 139, 21);
    margin-top: 10px;
    border-radius: 0.4rem;
    width: 40%;
    font-style: italic;
}

.alert {
    font-size: 1rem;
    background-color: #fdbbaf;
    padding: 0.25rem 0.5rem;
    border-left: 0.2rem solid darkred;
    margin-top: 10px;
    border-radius: 0.4rem;
}